<h1 *ngIf="currentUser.roleID == 3" class="text-center">Admin Control panel </h1>
<hr>

<div class="d-flex justify-content-between" *ngIf="currentUser.roleID == 3">
    <div class="col-3 rounded bg-light">
        <a class="btn btn-white"  role="button" routerLink="/journalisten"><b>Journalisten beheren</b> </a>
        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>
   
    </div>
    <div class="col-3 bg-info rounded">       
         <a class="btn btn-white" role="button" routerLink="/artikelen"><b>Artikelen beheren</b></a>
         <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">article</mat-icon>
        
    </div>
    <div class="col-3 rounded bg-light">
        
                <a class="btn btn-white" role="button" routerLink="/tags"><b>Tags beheren</b> </a>
                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">speaker_notes</mat-icon>
               
                
        </div>
</div>

<h1 *ngIf="currentUser.roleID == 2">Journalist Control panel </h1>

<div class="row" *ngIf="currentUser.roleID == 2">
    <div class="col-3 bg-info rounded">       
        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">article</mat-icon>
        <br>
         <a class="btn btn-white" role="button" routerLink="/artikelen">Artikelen beheren</a>        
    </div>
</div>
<hr>
