<!-- nav -->
<nav class="navbar navbar-expand navbar-info bg-info" >
  <div class="navbar-nav">
      <a class="nav-item nav-link text-dark" routerLink="/frontpage">Home</a>
      
      
      <a class="nav-item nav-link text-dark" *ngIf="currentUser; else elseBlock" (click)="logout()">Logout</a>
      <ng-template #elseBlock><a class="nav-item nav-link" routerLink="/login">Login</a></ng-template>

  </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-item nav-link"  *ngIf="currentUser">Logged in as <b>{{currentUser.firstName}} </b></a>
          </li>
          <li class="nav-item bg-light rounded" *ngIf="currentUser">
              <a class="nav-link text-dark" routerLink="/controlpanel"><b>Control panel </b></a>
          </li>
      </ul>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

<!-- footer -->
<div class="text-center">
  <p>
      Angular News App
  </p>
  <p>
      David van Dongen - 2020
  </p>
</div>