<h1>Welcome to the frontpage</h1>
<hr>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="d-flex">
  
      <input placeholder="zoek in titles en body" type="text" formControlName="search" class="form-control" />

    <select aria-placeholder="tag zoeken" class="form-control"   formControlName="tag"   >
      <option value="" selected>Zoek op tag</option>
        <option [ngValue]="tag.tagID" *ngFor="let tag of tags">{{tag.name}}</option>
    </select>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-info">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Search
    </button>
</div>

</form>

<div  *ngFor="let article of newsArticles">
    <div class="card mt-3" style="width: 40rem;" *ngIf="article.articleStatusID == 3">
        <img class="card-img-top" src={{article.imageUrl}} alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{article.title}}</h2>
          <p class="card-text">{{article.subTitle}}</p>
          <a (click)="gotoArticle(article)" class="btn btn-info">Meer lezen</a>
          <hr>
          <h3>Tag: {{article.tag.name}}</h3>
        </div>
      </div>
</div>
